body
{
    background-color: rgb(43, 43, 43);
    color: wheat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;  
    
    
}

header
{   
    display: flex;
    height: 150px;
    border-bottom: 3px solid red;
    border-radius: 10%;
    text-shadow: black 2px 4px;
    .title
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 6px solid red;
        width: 30%;
        @media (min-width: 980px) {
            h1
            {
                font-size: 4em;
            }
        }
        h1, p
        {
            //border: 1px solid red;
            margin-top: 10px;
            margin-bottom: 25px;
            margin: 10px 20px 20px 20px;
        }
    }
    nav
    {
        display: flex;
        flex: 1;
        width: 70%;
        justify-content: space-around;
        h2
        {
            display: flex;
            font-size: 2.5em;
            // border: 2px solid rgb(153, 35, 35);
            align-items: center;
        }
    }
}


#top-movie
{
    color: white;
    display: flex;
    height: 600px;
    border-bottom: 2px transparent black;
    article
    {
        // border: 3px solid red;
        width: 30%;
        text-align: center;
        vertical-align: bottom;
        h1
        {
            vertical-align: bottom;
            margin-top: 300px;
            font-size: 2em;
            text-shadow: black 2px 2px;
            color: wheat;
        }
    }
    #top-movie__poster
    {
        // border: 3px solid red;
        width: 30%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position-y: 8px;
        background-position-x: center;
    }
}
@mixin top-movie__information($mobile: false) {
    .top-movie__information{
    padding: 10px 0 0 10px;
    width: 30%;
    overflow: auto;
    @if $mobile {
        font-size: 1.5em;
      }
    @else
    {
        font-size: 2em;;
    }
}}


@media (min-width: 980px) {
     @include top-movie__information($mobile: false);
}
   
@media (max-width: 980px) {
    @include top-movie__information($mobile: true);
}
    

.categories
{
    display: flex;
    flex-direction: column;
    .category
    {
        margin-top: 10px;
        height: 550px;
        // border: 2px solid green;
        > h2
        {
            margin: 0;
            padding: 20px 0 20px 0;
            text-align: center;
            border-top: 2px solid red;
            border-radius: 10%;
            color: wheat;
            font-weight: bold;
            font-style: italic;
            text-shadow: black 2px 2px;
        }
        &__best-movies
        {
            display: flex;
            justify-content: center;
            width: 100%;
            
            &__movies
            {
                display: flex;
                justify-content: center;
                margin: auto;
                // border: 1px solid blue;
                width: 100%;
                height: auto;
            }
            .side-arrow
            {
                display: flex;
                justify-content: center;
                //border: purple solid 1px;
                height: 360px;
                width: 36em;
               
                &.left
                {
                    position: relative;
                    left: 0px;
                }
                &.right
                {
                    float: right;
                }
                p
                {
                    font-weight: 900;
                    font-size: 4em;
                    // border: white solid 1px;
                    position: relative;
                    align-items: center;
                    vertical-align: middle;
                    top: 75px;
                    height: 70px;
                    &:hover
                    {
                        font-size: 5em;
                        top: 50px;
                        height: 95px;
                    }
                }
                &--disable
                {
                    opacity: 15%;
                }
                
                &.side-arrow--disable p:hover
                {
                    font-size: 4em;
                    top: 75px;
                    height: 70px;
                }
            }
        }
    }
}
.movie
{
    // border: 1px solid yellow;
    width: 18%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 40px;
    article
    {
        background-repeat: no-repeat;
        height: 100%;
        background-size: 100%;
        // border: green solid 1px;
    }
    &__information
    {
        // border: black solid 1px;
        visibility: collapse;
        height: 0px;
        font-size: 1.7em;
        text-align: center;
        border-radius: 0 0 8px 8px;
    }
    &:hover
    {
        z-index: 1;
        height: 600px;
        width: 400px;
        .movie__information
        {
            visibility: visible;
            height: 30%;
            background-color: grey;
            padding: 10px 0 0 10px;
            border-bottom: 4px solid wheat;
            border-left: 4px solid wheat;
            border-right: 4px solid wheat;
        }
        article
        {
            border-radius: 8px 8px 0 0;
            border-top: 4px solid wheat;
            border-left: 4px solid wheat;
            border-right: 4px solid wheat;
        }
        h2
        {
            visibility: hidden;
        }
    }
    &--hidden
    {
        visibility: collapse;
        width: 0;
        padding: 0;
        margin: 0;
    }
}

.modal
{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    visibility: hidden;

    div
    {   
        //overflow: auto;
        background-color: wheat;
        border: 3px solid black;
        border-radius: 15px;
        position: relative;
        width: 40%;
        height: auto;
        z-index: 2;
        top: 10%;
        left: 30%;
        display: flex;
        font-family: sans-serif;
        p
        {
            //border: 1px solid black;
            width: 90%;
            font-size: 2em;
            color: black;
            
            
        }
        .close
        {
            // border: 1px solid green;
            width: 3em;
            font-size: 2em;
            color: black;
            border-radius: 0 10px 0 0;
            height: 40px;
            padding: 5px 0 0 6px;
            text-align: center;
            background-color: rgba(71, 61, 61, 0.95);
            z-index: 3;

            &:hover
            {
                border: 3px solid red;
                cursor: pointer;
            }
            &:active
            {
                background-color: red;
            }
        }
    }
}