$column: column;
$justify: center;

@mixin flex($direction:$column, $justify-content:$justify) 
{
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
}

html, body
{
    background-color: rgb(43, 43, 43);
    color: wheat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    @include flex($column, null);
    max-width: 100%;
    position: fixed;
    overflow-y: auto;
    max-height: 100%;
    overflow-x: hidden;

}

.top-movie__information-js
{  
    text-shadow:black 2px 5px; 
    color:Cornsilk;
    &__title
    {
        text-shadow:black 2px 2px;
        color:wheat;
    }
}

header
{   
    display: flex;
    height: 150px;
    border-bottom: 3px solid red;
    border-radius: 10%;
    text-shadow: black 2px 2px;
    
    .title
    {
        @include flex($column, null);
        align-items: center;
        border-right: 6px solid red;
        h1
        {
            font-size: 4em;
        }
        h1, p
        {
            //border: 1px solid red;
            margin: 10px 20px 20px 20px;
        }
    }
    nav
    {
        //border: 2px solid rgb(153, 35, 35);
        display: flex;
        flex: 1;
        justify-content: space-around;
        h2
        {
            font-size: 2.5em;
            // border: 2px solid rgb(153, 35, 35);
            align-items: center;
        }
    }
}


#top-movie
{
    
    color: white;
    display: flex;
    height: 600px;
    border-bottom: 2px transparent black;
    article
    {
        //border: 3px solid red;
        text-align: center;
        vertical-align: bottom;
        h1
        {
            vertical-align: bottom;
            margin-top: 250px;
            font-size: 2em;
            text-shadow: black 2px 2px;
            color: wheat;
        }
    }
    #top-movie__poster
    {
        // border: 3px solid red;
        width: 100%;
        height: 100%;
        background-size: 40%;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        @media (max-width: 1000px) 
        {
            background-size: cover;
        }
        
    }
}
.top-movie__information
{
    padding: 10px 0 0 10px;
    width: 100%;
    overflow: auto;
    font-size: 2em;

}
  
.categories
{
    @include flex($column, null);
    .category
    {
        
        margin-top: 10px;
        height: 100%;
        // border: 2px solid green;
        > h2
        {
            margin: 0;
            padding: 20px 0 20px 0;
            text-align: center;
            border-top: 2px solid red;
            border-radius: 10%;
            color: wheat;
            font-weight: bold;
            font-style: italic;
            text-shadow: black 2px 2px;
        }
        &__best-movies
        {
            @include flex(null, $justify);
            width: 100%;
            
            &__movies
            {
                @include flex(null, $justify);
                margin: auto;
                //border: 1px solid blue;
                width: 90%;
                height: auto;
            }
            .side-arrow
            {
                @include flex(null, $justify);
                
                //border: purple solid 1px;
                height: 360px; 
                
                &.left
                {
                    
                    position: relative;
                    left: 0px;
                }
                &.right
                {
                    float: right;
                    
                }
                p
                {
                    color:beige;
                    -webkit-text-stroke: 5px cornsilk;
                    text-shadow: black 2px 40px;
                    font-weight: 900;
                    font-size: 4em;
                    // border: white solid 1px;
                    position: relative;
                    align-items: center;
                    vertical-align: middle;
                    top: 75px;
                    height: 70px;
                    &:hover
                    {
                        font-size: 5em;
                        top: 50px;
                        height: 95px;
                    }
                }
                &--disable
                {
                    opacity: 15%;
                }
                
                &.side-arrow--disable p:hover
                {
                    font-size: 4em;
                    top: 75px;
                    height: 70px;
                }
            }
        }
    }
}
.movie
{
    // border: 1px solid yellow;
    
    width: 250px;
    height: 250px;
    @include flex($column, null);
    margin: 0 40px 0 40px;
    article
    {
        box-shadow: black 2px 20px;
        background-repeat: no-repeat;
        height: 100%;
        width: auto;
        background-size: 250px;
        
         //border: green solid 1px;
    }
    &__information
    {
        // border: black solid 1px;
        visibility: collapse;
        height: 0px;
        font-size: 1.7em;
        text-align: center;
        border-radius: 0 0 8px 8px;
    }
    &:hover
    {
        //border: yellow solid 1px;
        z-index: 1;
        height: auto;
        width: auto;
        .movie__information
        {
            
            visibility: visible;
            height: auto;
            width: auto;
            background-color: grey;
            padding: 10px 0 0 10px;
            border-bottom: 4px solid wheat;
            border-left: 4px solid wheat;
            border-right: 4px solid wheat;
        }
        article
        {
            height: 500px;
            background-size: cover;
            width: auto;
            border-radius: 8px 8px 0 0;
            border-top: 4px solid wheat;
            border-left: 4px solid wheat;
            border-right: 4px solid wheat;
        }

    }
    &--hidden
    {
        visibility: collapse;
        width: 0;
        padding: 0;
        margin: 0;
    }
}

.modal
{
    //width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    overflow: auto;

    div
    {   
        overflow: auto;
        background-color: wheat;
        border: 3px solid black;
        border-radius: 15px;
        position: relative;
        width: 40%;
        height: auto;
        z-index: 2;
        top: 10%;
        left: 30%;
        @include flex($column, null);
        font-family: sans-serif;
        p
        {
            //border: 1px solid black;
            width: 90%;
            font-size: 2em;
            color: black;
            
            
        }
        .close
        {
            // border: 1px solid green;
            width: 3em;
            font-size: 2em;
            color: black;
            border-radius: 0 10px 0 0;
            height: 40px;
            padding: 5px 0 0 6px;
            text-align: center;
            background-color: rgba(71, 61, 61, 0.95);
            z-index: 3;

            &:hover
            {
                border: 3px solid red;
                cursor: pointer;
                
            }
            &:active
            {
                background-color: red;
            }
        }
    }
}