html, body {
  background-color: #2b2b2b;
  color: wheat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  position: fixed;
  overflow-y: auto;
  max-height: 100%;
  overflow-x: hidden;
}

.top-movie__information-js {
  text-shadow: black 2px 5px;
  color: Cornsilk;
}

.top-movie__information-js__title {
  text-shadow: black 2px 2px;
  color: wheat;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  border-bottom: 3px solid red;
  border-radius: 10%;
  text-shadow: black 2px 2px;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 6px solid red;
}

header .title h1 {
  font-size: 4em;
}

header .title h1, header .title p {
  margin: 10px 20px 20px 20px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav h2 {
  font-size: 2.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-movie {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  border-bottom: 2px transparent black;
}

#top-movie article {
  text-align: center;
  vertical-align: bottom;
}

#top-movie article h1 {
  vertical-align: bottom;
  margin-top: 250px;
  font-size: 2em;
  text-shadow: black 2px 2px;
  color: wheat;
}

#top-movie #top-movie__poster {
  width: 100%;
  height: 100%;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

@media (max-width: 1000px) {
  #top-movie #top-movie__poster {
    background-size: cover;
  }
}

.top-movie__information {
  padding: 10px 0 0 10px;
  width: 100%;
  overflow: auto;
  font-size: 2em;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories .category {
  margin-top: 10px;
  height: 100%;
}

.categories .category > h2 {
  margin: 0;
  padding: 20px 0 20px 0;
  text-align: center;
  border-top: 2px solid red;
  border-radius: 10%;
  color: wheat;
  font-weight: bold;
  font-style: italic;
  text-shadow: black 2px 2px;
}

.categories .category__best-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.categories .category__best-movies__movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 90%;
  height: auto;
}

.categories .category__best-movies .side-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 360px;
}

.categories .category__best-movies .side-arrow.left {
  position: relative;
  left: 0px;
}

.categories .category__best-movies .side-arrow.right {
  float: right;
}

.categories .category__best-movies .side-arrow p {
  color: beige;
  -webkit-text-stroke: 5px cornsilk;
  text-shadow: black 2px 40px;
  font-weight: 900;
  font-size: 4em;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  top: 75px;
  height: 70px;
}

.categories .category__best-movies .side-arrow p:hover {
  font-size: 5em;
  top: 50px;
  height: 95px;
}

.categories .category__best-movies .side-arrow--disable {
  opacity: 15%;
}

.categories .category__best-movies .side-arrow.side-arrow--disable p:hover {
  font-size: 4em;
  top: 75px;
  height: 70px;
}

.movie {
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 40px 0 40px;
}

.movie article {
  -webkit-box-shadow: black 2px 20px;
          box-shadow: black 2px 20px;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  background-size: 250px;
}

.movie__information {
  visibility: collapse;
  height: 0px;
  font-size: 1.7em;
  text-align: center;
  border-radius: 0 0 8px 8px;
}

.movie:hover {
  z-index: 1;
  height: auto;
  width: auto;
}

.movie:hover .movie__information {
  visibility: visible;
  height: auto;
  width: auto;
  background-color: grey;
  padding: 10px 0 0 10px;
  border-bottom: 4px solid wheat;
  border-left: 4px solid wheat;
  border-right: 4px solid wheat;
}

.movie:hover article {
  height: 500px;
  background-size: cover;
  width: auto;
  border-radius: 8px 8px 0 0;
  border-top: 4px solid wheat;
  border-left: 4px solid wheat;
  border-right: 4px solid wheat;
}

.movie--hidden {
  visibility: collapse;
  width: 0;
  padding: 0;
  margin: 0;
}

.modal {
  height: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  overflow: auto;
}

.modal div {
  overflow: auto;
  background-color: wheat;
  border: 3px solid black;
  border-radius: 15px;
  position: relative;
  width: 40%;
  height: auto;
  z-index: 2;
  top: 10%;
  left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
}

.modal div p {
  width: 90%;
  font-size: 2em;
  color: black;
}

.modal div .close {
  width: 3em;
  font-size: 2em;
  color: black;
  border-radius: 0 10px 0 0;
  height: 40px;
  padding: 5px 0 0 6px;
  text-align: center;
  background-color: rgba(71, 61, 61, 0.95);
  z-index: 3;
}

.modal div .close:hover {
  border: 3px solid red;
  cursor: pointer;
}

.modal div .close:active {
  background-color: red;
}
/*# sourceMappingURL=style.css.map */